<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PresentationHost</title>
    <link rel="stylesheet" href="~/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/aos-master/dist/aos.css">
    <link rel="stylesheet" href="~/plugins/hover-master/css/hover-min.css">
    <link rel="stylesheet" href="~/css/ionicons.css">
    <link rel="stylesheet" href="~/css/droopmenu.css">
    <link rel="stylesheet" href="~/css/highlight.css">
    <link rel="stylesheet" href="~/css/nouislider.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IdentityProject</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul>
                        <li class="nav-link text-dark"> <a asp-controller="Accounting" asp-action="signup">Sign Up</a> </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-link text-dark"> <a asp-controller="Accounting" asp-action="logout">Logout</a> </li>
                        }
                        else
                        {
                            <li class="nav-link text-dark"> <a asp-controller="Accounting" asp-action="login">Login</a> </li>
                        }


                    </ul>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/fontawesome/js/all.min.js"></script>
    <script src="~/plugins/aos-master/dist/aos.js"></script>
    <script src="~/js/droopmenu.js"></script>
    <script src="~/js/nouislider.min.js"></script>
    <script src="~/js/pagination.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>